//make the cursor point when it hovers on the school list
.content{
    display : grid;
    grid-template-columns: 90% 5% 5%;
    border: gray solid;
    margin-bottom: 0.5vh;
}
.school-list{
    grid-column-start: 1;
    cursor: pointer;
    background-color: white;
    color: black;
    // height: 5vh;
    // width: 20vh;
}

.add-school{
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 5px; 
    background-color: black;
    color: white; 
}

.header{
    text-align: center;
    font-weight: bold;
}

.delete-school{
    grid-column-start: 2;
    cursor: pointer;
}