//divide the content into three with border gray
.content{
    display : grid;
    grid-template-columns: 90% 5% 5%;
    border: gray solid;
    margin-bottom: 0.5vh;
}

//make the cursor point when it hovers on the school list
.school-list{
    grid-column-start: 1;
    cursor: pointer;
    background-color: white;
    color: black;
    // height: 5vh;
    // width: 20vh;
}

//The add icon -- background color 
.add-school{
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 5px; 
    background-color: black;
    color: white; 
}

// the font of the header 
.header{
    text-align: center;
    font-weight: bold;
}

//make the cursor point when it hovers over the delete icon
.delete-school{
    grid-column-start: 2;
    cursor: pointer;
}