//make the div that contains the tasks a grid and divide into three 
.icon-and-checkbox{
    display : grid;
    grid-template-columns: 90% 5% 5%;
    margin-bottom: 1vh;

}

//checkboc for the tasks 
.checkbox{
    width: 100%;
    color: white;
    border-radius: 5%;
    margin-right: 5vw;
    grid-column-start: 1;
    background-color: black;

}

//delete a task icon - make it start at the second column 
.delete-task{
    grid-column-start: 2;
}


//delete task and edit task icon 
.delete-task, .edit-task{
    color: white;
    background-color: black;
    margin-left: 1vw;
    border-radius: 50%;
    cursor: pointer;
}

//edit task - make it start at the third column 
.edit-task{
    grid-column-start: 3;
}

.test-class{
    background-color: gray;
}

//add task entry 
.add-task{
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white; 
}

//make the checkbox gray when it is clicked 
.gray-background{
    background-color: gray;
}

//the task entry
.task-entry{
    margin-bottom: 1vh;
    display : grid;
    grid-template-columns: 7% 88% 5%;
    height: 4vh;
    position: sticky;
}

.task-input{
    grid-column-start: 2;
    border: black solid;
}

//make it start at the third column 
.task-button{
    grid-column-start: 3;
}

//the label of the task 
.task-label{
    grid-column-start: 1;
    font-weight: bold;
    text-align: center;
}

//align it at the center and make bold
.header{
    text-align: center;
    font-weight: bold;
}







